body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.card-slim {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 270px;
  height: 300px;
  float: left;
  margin:20px;
}
.card-header {
  padding: 5px 0 0 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card-description{
  padding: 10px;
}

.line-separator{

height:1px;

background:#717171;

border-bottom:1px solid #313030;

}